<div class="flex flex-col items-center justify-center h-screen mt-24">
    <div class="shadow-lg rounded-lg w-full max-w-4xl p-6">
  
        <div class="overflow-x-auto">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher par sujet" class="p-2 border rounded mb-4">
  
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Nom
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Description
              </th>
              <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                Actions
              </th>
              <th class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"></th>
            </tr>
          </thead>
  
          <tbody class="bg-gray-200 dark:bg-gray-100">
            <tr *ngFor="let ressource of applyFilter()">
              <td class="p-4 text-sm font-normal text-gray whitespace-nowrap dark:text-gray">
                {{ ressource.nom }}
              </td>
              <td class="p-4 text-sm font-normal text-gray whitespace-nowrap dark:text-gray">
                {{ ressource.description }}
              </td>
              <td class="p-4 whitespace-nowrap">
                <button *ngIf="ressource.id !== undefined" [routerLink]="['/back/ressources/edit', ressource.id]" class="bg-green-500 text-white py-1 px-2 rounded-full text-xs mb-1">Update</button>
                <button *ngIf="ressource.id !== undefined" (click)="delete(ressource.id)" class="bg-red-500 text-white py-1 px-2 rounded-full text-xs mb-1">Delete</button>
              </td>
              <td class="p-4"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-4">
        <a routerLink="/back/ressources/add" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Add</a>
      </div>
    </div>
  </div>
  
